<header class="gt-header">
  <div class="gt-header__container">
    <div class="gt-header__logo" routerLink="/home">
      <span>Gym<span class="gt-header__logo--accent">Tracker</span></span>
    </div>
    <div class="gt-header__actions">
      @if (!authService.getIsLoggedIn()) {
      <button class="gt-header__login-btn" routerLink="/login">Login</button>
      } @else {
      <button class="gt-header__login-btn" (click)="loggout()">Logout
      </button>
      }
    </div>
  </div>
</header>