h2 {
  font-size: 1.3rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 0.01em;

  .body-comp-date {
    font-size: 1.1rem;
    color: lighten(#000, 18%);
    font-weight: 400;
    margin-left: 0.3rem;
  }
}

.body-comp-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.35rem;

  td {
    padding: 1rem;
    font-size: 1.19rem;
    border-radius: 0.7rem;
    background: #f6fefa;

    &.stat-value {
      color: #000;
      text-align: right;
    }
  }
}
