<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h3>Add New Workout</h3>
      <button class="close-btn" (click)="onCancel()">×</button>
    </div>
    <form (ngSubmit)="onSave()" [formGroup]="addWorkoutForm">
      <div class="form-group">
        <label for="workoutType">Workout Type</label>
        <select id="workoutType" name="type" formControlName="workoutType" required>
          <option value="" disabled>Select type</option>
          @for (type of workoutTypes; track $index) {
          <option [value]="type">{{type}}</option>
          }
        </select>
        @if (isWorkoutTypeValid) {
        <p class="error">Please select a workout type!</p>
        }
      </div>
      <div class="form-group">
        <label for="workoutDate">Date</label>
        <input type="date" id="workoutDate" formControlName="workoutDate" name="date" required>
        @if (isWorkoutDateValid) {
        <p class="error">Please select a valid date!</p>
        }
      </div>
      <div class="form-group exercises-section">
        <label>Exercise</label>
        <div class="exercises-list" formArrayName="exercises">
          @for (exercise of exercises.controls; track $index) {
          <div class="exercise-row" [formGroupName]="$index">
            <input type="text" placeholder="Exercise name" formControlName="name" required />
            <input type="text" placeholder="Weight (kg or 'bodyweight')" formControlName="weight" required />

            @if (exercises.length > 1) {
            <button type="button" class="remove-exercise-btn" (click)="removeExercise($index)">–</button>
            }
          </div>
          <div class="exercise-row">
            @if (exercise.get('name')?.invalid && exercise.get('name')?.touched) {
            <p class="error">Exercise name is required!</p>
            }

            @if (exercise.get('weight')?.invalid && exercise.get('weight')?.touched) {
            <p class="error">Weight is required!</p>
            }
          </div>
          }
        </div>
        <button type="button" class="add-exercise-btn" (click)="addExercise()">+ Add Exercise</button>
        @if(IsWorkoutExercisesValid) {
        <p class="error">Please add at least one exercise!</p>
        }
      </div>
      <div class="form-actions">
        <button type="submit" class="save-btn">Save Workout</button>
        <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>